* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--font);
    font-size: 62.5%;
    line-height: 1.6;
}

body {
    font-size: 1.6rem;
}

header {
    font-size: 2.4rem;
}

h1 {
    line-height: 1.2;
}

button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.header {
    border-bottom: 3px solid var(--blue-border-color);
    padding: 5rem;
    background-color: var(--header-background-color);
    color: var(--header-font-color);
}

.title {
    font-size: 6rem;
    text-align: center;
}

.message {
    padding: 20px;
    font-size: 3rem;
    text-align: center;
}

.main {
    padding: 0 8rem;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 454px;
    height: 454px;
    border: 2px solid var(--border-color);
    margin: 0px auto;
}

